PORT=5000
DATABASE_URL="postgresql://postgres:password@localhost:5432/infralingo"
JWT_SECRET=""
GEMINI_API_KEY=""
LINGO_API_KEY=""
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000